<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @rep.district_id %>
</p>

<p>
  <strong>Partypol:</strong>
  <%= @rep.partypol %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @rep.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @rep.lname %>
</p>

<p>
  <strong>Longname:</strong>
  <%= @rep.longname %>
</p>

<p>
  <strong>City state zip:</strong>
  <%= @rep.city_state_zip %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @rep.twitter %>
</p>

<p>
  <strong>Facebook personal:</strong>
  <%= @rep.facebook_personal %>
</p>

<p>
  <strong>You tube:</strong>
  <%= @rep.you_tube %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @rep.linked_in %>
</p>

<p>
  <strong>Google plus:</strong>
  <%= @rep.google_plus %>
</p>

<%= link_to 'Edit', edit_rep_path(@rep) %> |
<%= link_to 'Back', reps_path %>
